@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{
    background-color:#16161A !important;
}

.navbar{
    position: fixed;
    z-index: 1;
    background-color:#232E35;
    display:flex;
    justify-content:space-between;
    height:69px
}

.inicio{
    text-align:center;
    font-family: 'Nunito', sans-serif;
}

a{
    font-size:14px !important;
}

#texto{
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 16px;
    font-size:18px;
    text-align: center
}

span{
    color: white
}

.logo{
    margin-top:30px
}